.theme-grey{
    --text: #ccc;
    --exit: #f00;
    --border: #2e2e2e;

    --bg-0: #7b7b7b;
    --bg-50: #565656;
    --bg-100: #5a5959;
    --bg-150: #535353;
    --bg-200: #515151;
    --bg-250: #494949;
    --bg-300: #3f3f3f;
    --bg-350: #2f2f2f;
}

.theme-red {
    --text: #f2caca;
    --exit: #ff4d4d;
    --border: #3a1f1f;

    --bg-0: #bf3737;
    --bg-50: #852727;
    --bg-100: #8b2828;
    --bg-150: #812525;
    --bg-200: #7e2424;
    --bg-250: #712121;
    --bg-300: #621c1c;
    --bg-350: #491515;
}

.theme-orange {
    --text: #f2d2bf;
    --exit: #ff4d4d;
    --border: #3a2418;

    --bg-0: #cb662b;
    --bg-50: #8e471e;
    --bg-100: #944a1f;
    --bg-150: #89451d;
    --bg-200: #86431c;
    --bg-250: #783c1a;
    --bg-300: #683416;
    --bg-350: #4e2710;
}

.theme-amber {
    --text: #f2e0c2;
    --exit: #ff4d4d;
    --border: #3a2b18;

    --bg-0: #c58f31;
    --bg-50: #8a6422;
    --bg-100: #8f6824;
    --bg-150: #856021;
    --bg-200: #825e20;
    --bg-250: #75551d;
    --bg-300: #654919;
    --bg-350: #4b3713;
}

.theme-green {
    --text: #cfead4;
    --exit: #ff4d4d;
    --border: #1f3324;

    --bg-0: #4aac5a;
    --bg-50: #34783f;
    --bg-100: #367d42;
    --bg-150: #32743d;
    --bg-200: #31713b;
    --bg-250: #2c6636;
    --bg-300: #26582e;
    --bg-350: #1c4222;
}

.theme-teal {
    --text: #cfe9e6;
    --exit: #ff4d4d;
    --border: #1f3331;

    --bg-0: #50a69d;
    --bg-50: #38746e;
    --bg-100: #3a7973;
    --bg-150: #36706a;
    --bg-200: #356d68;
    --bg-250: #2f635d;
    --bg-300: #295551;
    --bg-350: #1f3f3c;
}

.theme-blue {
    --text: #d0def2;
    --exit: #ff4d4d;
    --border: #1c2a3a;

    --bg-0: #3e73b9;
    --bg-50: #2b5081;
    --bg-100: #2d5486;
    --bg-150: #294d7c;
    --bg-200: #294c7a;
    --bg-250: #25446e;
    --bg-300: #203b5f;
    --bg-350: #182c47;
}

.theme-indigo {
    --text: #d4d4f2;
    --exit: #ff4d4d;
    --border: #1c1c3a;

    --bg-0: #4444b2;
    --bg-50: #2f2f7d;
    --bg-100: #313182;
    --bg-150: #2e2e78;
    --bg-200: #2d2d75;
    --bg-250: #28286a;
    --bg-300: #23235b;
    --bg-350: #1a1a44;
}

.theme-purple {
    --text: #e3d0f2;
    --exit: #ff4d4d;
    --border: #2a1c3a;

    --bg-0: #7b44b2;
    --bg-50: #562f7d;
    --bg-100: #5a3182;
    --bg-150: #532e78;
    --bg-200: #512d75;
    --bg-250: #49286a;
    --bg-300: #3f235b;
    --bg-350: #2f1a44;
}

.theme-pink {
    --text: #f2d0e3;
    --exit: #ff4d4d;
    --border: #3a1c2a;
    
    --bg-0: #b93e7b;
    --bg-50: #812b56;
    --bg-100: #862d5a;
    --bg-150: #7c2953;
    --bg-200: #7a2951;
    --bg-250: #6e2549;
    --bg-300: #5f203f;
    --bg-350: #47182f;
}